.products-table-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;

  .products-table-header {
    .title {
      margin: 0;
    }

    hr {
      border-top: 2px solid var(--color-dark-grey);
      margin-left: 0;
      margin-bottom: 1rem;
      width: 12rem;
    }
  }
}
